
    <div class="ion-page">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>List of Products: </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <!-- <ion-grid>
        <ngx-datatable style="width: 350px"
        [rows]="products"
        class="bootstrap"
        [rowHeight]="'auto'"
        [columnHeight]="'auto'"

        >
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Price"></ngx-datatable-column>
        <ngx-datatable-column name="Quantity"></ngx-datatable-column>

        </ngx-datatable>
         </ion-grid> -->
        <ion-grid>
          <ion-row class="ion-align-items-start">
            <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" ></ion-searchbar>
          </ion-row>
          <ion-row class="ion-align-items-start">
            <ion-col  size-sm>
              <div>
                PID
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                Name
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                Quantity
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                Price
              </div>
            </ion-col>
            <ion-col size-sm>
              <div>
                
              </div>
            </ion-col>
            <ion-col size-sm>
              <div>
                
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let product of products | filter:filterTerm" class="ion-align-items-start">
            <ion-col  size-sm>
              <div>
                {{product.id}}
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                {{product.name}}
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                {{product.quantity}}
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                {{product.price}}
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                <ion-button size='small' routerLink="/edit/{{product.id}}"><ion-icon name="create-outline"></ion-icon></ion-button>
              </div>
            </ion-col>
            <ion-col  size-sm>
              <div>
                <ion-button size='small' (click)="Delete(product)"><ion-icon name="trash-outline"></ion-icon></ion-button>
              </div>
            </ion-col>
          </ion-row>
            
          
        </ion-grid>
      </ion-content>
    </div>

